## Instalar librerias necesarias

In [51]:
# !pip install pandas sodapy

---

## Importar librerias y configuración

In [52]:
import pandas as pd
from sodapy import Socrata
from google.colab import drive

# Claves para unir
keys = ['municipio', 'codMunicipio']

# Inicialización correcta: se deja vacío, pero NO se usa hasta cargar df1
df_consolidado_produccion = pd.DataFrame()

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

---

## Totales_Produccion_Pecuaria.xlsx

In [54]:
# === Cargar la base principal (87 municipios) ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/1.Totales_Produccion_Pecuaria.xlsx'
df_consolidado_produccion = pd.read_excel(file_path)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---

## Explotacion_Minerales

In [55]:
# === Cargar archivo 2 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/2.Explotacion_Minerales.xlsx'
df2 = pd.read_excel(file_path)

# Conversión segura a numérico para evitar errores
cols_num = [
    'volumenesExplotacion'
]

for col in cols_num:
    df2[col] = pd.to_numeric(df2[col], errors='coerce')

# === Agrupación CORRECTA ===
df2 = (
    df2
    .groupby(keys, as_index=False)[cols_num]
    .sum()
)

# df2.info()
# display(df2)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df2 = df2.drop(columns=[c for c in cols_excluir if c in df2.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df2,
    on=keys,
    how='left',
    suffixes=('_base', '_df2')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---

## Consumo_Total_Acueducto

In [56]:
# === Cargar archivo 3 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/3.Consumo_Total_Acueducto.xlsx'
df3 = pd.read_excel(file_path)

# Conversión segura a numérico para evitar errores
cols_num = [
    'consumoAguaResidencial',
    'consumoAguaIndustrial',
    'consumoAguaComercial',
    'consumoAguaOficial',
    'consumoAguaOtros'
]

for col in cols_num:
    df3[col] = pd.to_numeric(df3[col], errors='coerce')

# === Agrupación CORRECTA ===
df3 = (
    df3
    .groupby(keys, as_index=False)[cols_num]
    .sum()
)
# display(df3)
# df3.info()

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df3 = df3.drop(columns=[c for c in cols_excluir if c in df3.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df3,
    on=keys,
    how='left',
    suffixes=('_base', '_df3')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---

## Subscriptores_Gas_Natural

In [57]:
# === Cargar archivo 4 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/4.Subscriptores_Gas_Natural.xlsx'
df4 = pd.read_excel(file_path)


# Conversión segura a numérico
df4['totalSubscriptoresGas'] = pd.to_numeric(df4['totalSubscriptoresGas'], errors='coerce')

# === Agrupación por municipio ===
df4 = df4.groupby(keys, as_index=False)['totalSubscriptoresGas'].sum()

# df4.info()
# display(df4)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df4 = df4.drop(columns=[c for c in cols_excluir if c in df4.columns])


# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df4,
    on=keys,
    how='left',
    suffixes=('_base', '_df4')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

## Valor_agregado_por_municipio

In [58]:
# === Cargar archivo 5 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/5.Valor_agregado_por_municipio.xlsx'
df5 = pd.read_excel(file_path)

# df5.info()
# display(df5)

# Conversión segura a numérico
df5['valorAgregadoBruto'] = pd.to_numeric(df5['valorAgregadoBruto'], errors='coerce')

# === Agrupación por municipio ===
df5 = df5.groupby(keys, as_index=False)['valorAgregadoBruto'].sum()

# df5.info()
# display(df5)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df5 = df5.drop(columns=[c for c in cols_excluir if c in df5.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df5,
    on=keys,
    how='left',
    suffixes=('_base', '_df5')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

## Disposicion_Final_Residuos_Solidos.xlsx

In [59]:
# === Cargar archivo 6 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/6.Disposicion_Final_Residuos_Solidos.xlsx'
df6 = pd.read_excel(file_path)

# df6.info()
# display(df6)

# Conversión segura a numérico
df6['disposicionFinalResiduosToneladas'] = pd.to_numeric(df6['disposicionFinalResiduosToneladas'], errors='coerce')

# === Agrupación por municipio ===
df6 = df6.groupby(keys, as_index=False)['disposicionFinalResiduosToneladas'].sum()

# df6.info()
# display(df6)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df6 = df6.drop(columns=[c for c in cols_excluir if c in df6.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df6,
    on=keys,
    how='left',
    suffixes=('_base', '_df6')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

## Poblacion_Urbana_Rural

In [60]:
# === Cargar archivo 7 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/7.Poblacion_Urbana_Rural.xlsx'
df7 = pd.read_excel(file_path)

# Conversión segura a numérico
cols_num = [
    'totalPoblacion',
    'cabeceraMunicipal',
    'centrosPobladosRuralDisperso'
]

for col in cols_num:
    df7[col] = pd.to_numeric(df7[col], errors='coerce')

# === Agrupación CORRECTA ===
df7 = (
    df7
    .groupby(keys, as_index=False)[cols_num]
    .sum()
)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano', 'totalPoblacion']   # ajusta según tus coincidencias reales
df7 = df7.drop(columns=[c for c in cols_excluir if c in df7.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df7,
    on=keys,
    how='left',
    suffixes=('_base', '_df7')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---

## Consumo_Total_Energia_Electrica

In [61]:
# === Cargar archivo 8 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/8.Consumo_Total_Energia_Electrica.xlsx'
df8 = pd.read_excel(file_path)

# Conversión segura a numérico
cols_num = [
    'consumoElectricoResidencial',
    'consumoElectricoIndustrial',
    'consumoElectricoComercial',
    'consumoElectricoOficial',
    'consumoElectricoOtros'
]

for col in cols_num:
    df8[col] = pd.to_numeric(df8[col], errors='coerce')

# === Agrupación CORRECTA ===
df8 = (
    df8
    .groupby('municipio', as_index=False)[cols_num]
    .sum()
)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df8 = df8.drop(columns=[c for c in cols_excluir if c in df8.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df8,
    on='municipio',
    how='left',
    suffixes=('_base', '_df8')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

## Produccion_Agricola

In [62]:
# === Cargar archivo 9 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/9.Produccion_Agricola.xlsx'
df9 = pd.read_excel(file_path)

# Conversión segura a numérico
cols_num = [
    'areaSembradaHectareas',
    'areaCosechadaHectareas',
    'produccion'
]

for col in cols_num:
    df9[col] = pd.to_numeric(df9[col], errors='coerce')

# === Agrupación CORRECTA ===
df9 = (
    df9
    .groupby(keys, as_index=False)[cols_num]
    .sum()
)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df9 = df9.drop(columns=[c for c in cols_excluir if c in df9.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df9,
    on=keys,
    how='left',
    suffixes=('_base', '_df9')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---

## Bosques_Naturakes_Cobertura_Arborea

In [63]:
# === Cargar archivo 10 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/10.Bosques_Naturales_Cobertura_Arborea.xlsx'
df10 = pd.read_excel(file_path)

# Conversión segura a numérico
cols_num = [
    'bosquesNaturales',
    'perdidaCoberturaArborea',
    'coberturaArboreaNoNatural'
]

for col in cols_num:
    df10[col] = pd.to_numeric(df10[col], errors='coerce')

# === Agrupación CORRECTA ===
df10 = (
    df10
    .groupby(keys, as_index=False)[cols_num]
    .sum()
)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df10 = df10.drop(columns=[c for c in cols_excluir if c in df10.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df10,
    on=keys,
    how='left',
    suffixes=('_base', '_df10')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---

## Numero_Vehiculos_Registrados

In [64]:
# === Cargar archivo 11 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/11.Numero_Vehiculos_Registrados.xlsx'
df11 = pd.read_excel(file_path)

# Conversión segura a numérico
cols_num = [
    'cantidadVehiculosRegistrados'
]

for col in cols_num:
    df11[col] = pd.to_numeric(df11[col], errors='coerce')

# === Agrupación CORRECTA ===
df11 = (
    df11
    .groupby('municipio', as_index=False)[cols_num]
    .sum()
)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df11 = df11.drop(columns=[c for c in cols_excluir if c in df11.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df11,
    on='municipio',
    how='left',
    suffixes=('_base', '_df11')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---

## Produccion_Fiscalizada_Gas

In [65]:
# === Cargar archivo 12 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/12.Produccion_Fiscalizada_Gas.xlsx'
df12 = pd.read_excel(file_path)

# Conversión segura a numérico
cols_num = [
    'produccionKpc'
]

for col in cols_num:
    df12[col] = pd.to_numeric(df12[col], errors='coerce')

# === Agrupación CORRECTA ===
df12 = (
    df12
    .groupby(keys, as_index=False)[cols_num]
    .sum()
)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano']   # ajusta según tus coincidencias reales
df12 = df12.drop(columns=[c for c in cols_excluir if c in df12.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df12,
    on=keys,
    how='left',
    suffixes=('_base', '_df12')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

In [66]:
# === Cargar archivo 13 ===
file_path = '/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/13.Produccion_Crudo.xlsx'
df13 = pd.read_excel(file_path)

# Conversión segura a numérico
cols_num = [
    'produccionBls'
]

for col in cols_num:
    df13[col] = pd.to_numeric(df13[col], errors='coerce')

# === Agrupación CORRECTA ===
df13 = (
    df13
    .groupby('municipio', as_index=False)[cols_num]
    .sum()
)

# Quitar columnas duplicadas que NO deben agregarse
cols_excluir = ['departamento', 'codDepartamento', 'ano', 'mes', 'nombreMes']   # ajusta según tus coincidencias reales
df13 = df13.drop(columns=[c for c in cols_excluir if c in df13.columns])

# === Unir con el consolidado ===
df_consolidado_produccion = df_consolidado_produccion.merge(
    df13,
    on='municipio',
    how='left',
    suffixes=('_base', '_df13')
)

# df_consolidado_produccion.info()
# display(df_consolidado_produccion)

---


## ========== >>>>  Guardar el consolidado  <<<< ==========

In [67]:
df_consolidado_produccion = df_consolidado_produccion.fillna(0)
df_consolidado_produccion.info()
display(df_consolidado_produccion)
df_consolidado_produccion.to_csv('/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/consolidado_final_definitivo_santander_2019.csv', index=False)
df_consolidado_produccion.to_excel('/content/drive/MyDrive/Colab Notebooks/BasesDatosExcel/consolidado_final_definitivo_santander_2019.xlsx', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 37 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   codDepartamento                    87 non-null     int64
 1   departamento                       87 non-null     object
 2   codMunicipio                       87 non-null     int64
 3   municipio                          87 non-null     object
 4   totalBovinos                       87 non-null     float64
 5   totalPorcinos                      87 non-null     int64
 6   totalAvesOcupadasTraspatio         87 non-null     int64
 7   totalBufalos                       87 non-null     int64
 8   totalEquinos                       87 non-null     float64
 9   totalOvinos                        87 non-null     int64
 10  totalCaprinos                      87 non-null     int64
 11  volumenesExplotacion               87 non-null     float64
 12  consumoAguaResidencial             87 non-null     float64
 13  consumoAguaIndustrial              87 non-null     float64
 14  consumoAguaComercial               87 non-null     float64
 15  consumoAguaOficial                 87 non-null     float64
 16  consumoAguaOtros                   87 non-null     float64
 17  totalSubscriptoresGas              87 non-null     float64
 18  valorAgregadoBruto                 87 non-null     int64
 19  disposicionFinalResiduosToneladas  87 non-null     float64
 20  totalPoblacion                     87 non-null     int64
 21  cabeceraMunicipal                  87 non-null     int64
 22  centrosPobladosRuralDisperso       87 non-null     int64
 23  consumoElectricoResidencial        87 non-null     float64
 24  consumoElectricoIndustrial         87 non-null     float64
 25  consumoElectricoComercial          87 non-null     float64
 26  consumoElectricoOficial            87 non-null     float64
 27  consumoElectricoOtros              87 non-null     float64
 28  areaSembradaHectareas              87 non-null     float64
 29  areaCosechadaHectareas             87 non-null     float64
 30  produccion                         87 non-null     float64
 31  bosquesNaturales                   87 non-null     float64
 32  perdidaCoberturaArborea            87 non-null     float64
 33  coberturaArboreaNoNatural          87 non-null     float64
 34  cantidadVehiculosRegistrados       87 non-null     float64
 35  produccionKpc                      87 non-null     float64
 36  produccionBls                      87 non-null     float64
dtypes: float64(24), int64(11), object(2)
memory usage: 25.3+ KB

,codDepartamento,departamento,codMunicipio,municipio,totalBovinos,totalPorcinos,totalAvesOcupadasTraspatio,totalBufalos,totalEquinos,totalOvinos,...,consumoElectricoOtros,areaSembradaHectareas,areaCosechadaHectareas,produccion,bosquesNaturales,perdidaCoberturaArborea,coberturaArboreaNoNatural,cantidadVehiculosRegistrados,produccionKpc,produccionBls
0,68,SANTANDER,68013,AGUADA,2.362,174,1280,0,185.000,145,...,28275.0,374.0,309.0,3154.24,3759.055165,4.819378,9.332961,0.0,0.0,0.0
1,68,SANTANDER,68020,ALBANIA,6855.000,167,3320,0,159.000,59,...,38242.0,1707.0,1556.0,16993.00,12187.311486,4.210296,56.955777,0.0,0.0,0.0
2,68,SANTANDER,68051,ARATOCA,2898.000,490,1046050,2,31.000,609,...,176566.0,2073.0,1804.0,3614.00,7482.555801,0.764231,69.843186,0.0,0.0,0.0
3,68,SANTANDER,68077,BARBOSA,2396.000,760,721250,17,85.000,42,...,1401072.0,1379.0,1209.0,59746.70,1907.142233,6.275125,27.779345,160.0,0.0,0.0
4,68,SANTANDER,68079,BARICHARA,6195.000,51,208220,0,47.000,662,...,335001.0,1571.4,1494.9,7114.10,5313.886535,0.458586,71.307961,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,68,SANTANDER,68855,VALLE DE SAN JOSE,3307.000,411,110000,0,138.000,135,...,131833.0,4383.0,3520.0,78022.50,5841.938770,18.350227,8.945684,0.0,0.0,0.0
83,68,SANTANDER,68861,VELEZ,30140.000,1395,139200,9,1.136,254,...,518713.0,3080.0,2919.0,123702.72,30620.847858,85.487417,117.641532,499.0,0.0,0.0
84,68,SANTANDER,68867,VETAS,616.000,106,600,0,24.000,64,...,94082.0,52.0,52.0,1010.00,2706.888223,0.000000,29.612277,0.0,0.0,0.0
85,68,SANTANDER,68872,VILLANUEVA,3725.000,412,53420,0,14.000,45,...,258770.0,1774.0,1337.0,3272.75,1958.250379,0.000000,77.261604,0.0,0.0,0.0
86,68,SANTANDER,68895,ZAPATOCA,8516.000,114,806310,0,341.000,795,...,432842.0,1447.0,1319.0,6528.09,18861.052968,16.654334,162.198624,0.0,0.0,0.0